.Calendar {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;

  .row {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 480px) {
  .Calendar {
    .row {
      display: block;
    }
  }
}